.input {
    width: 61.8%;
    height: 65px;
    display: inline-block;
    border-radius: 30%;
    background: beige;
    font-size: 2em;
    color: blue;
}

.button {
    height: 35px;
    margin-left: 13px;
    font-size: 1.3em;
    border-radius: 50%;
    padding: 3 13px 3 13px;
    background: aqua;
}
