.caption {
     position:relative;
     font-family:"South African", cursive;
}

.parent {
    position:static; 
    width:700px;
    height:600px;
    background-color:green
}
    .child {
        position:relative;
        width:700px;
        height:200px;
        background-color:darkorange;
        top:0px;
        
}
.grandchild {
        position:relative;
        height:200px;
        width:700px;
        background-color:white;
        bottom:0px;
}
            
.greatgrandchild {
        position:relative;
        height:164px;
        width:164px;
        border-radius:82px;
        background-color:darkorange;
        bottom:182px;
        left:275px;
}
            
 
    