.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 1s linear;
  height: 50px;
}
.App-ethlogo {
  animation: App-logo-spin infinite 2s linear;
  height: 50px;
}
.App-btclogo {
  animation: App-logo-spin infinite 3s linear;
  height: 50px;

}

.App-header {
  background-color: #999;

  height: 110px;
  padding: 20px;
  color: lime;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
  font-family: Georgia;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
@keyframes App-ethlogo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
@keyframes App-btclogo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(540deg); }
}
