.parent {
    position:static; 
    width:1444px;
    height:820px;
    background-color:plum;
    left:0px;
}
    .parentTx90dgr {
               position:absolute; 
               width:150px;
               height:30px;
               font-size:16px;
               text-align:center;
               font-family:arial;
               transform: rotate(270deg);
               color:lime;
               left:-30px;
               top:130px;
               z-index:1;
}
    .parentTxButy {
               position:absolute; 
               width:200px;
               height:200px;
               font-size:36px;
               text-align:left;
               font-family:arial;
               color:white;
               left:330px;
               top:265px;
               z-index:1;
    
}
    .parentTxDemo {
               position:absolute; 
               width:500px;
               height:200px;
               font-size:16px;
               text-align:left;
               font-family:arial;
               color:white;
               left:630px;
               top:290px;
               z-index:1;
    
}
     
.child5 {
        position:relative; 
        width:1444px;
        height:509px;
        background-color:#f9f2ec;
        left:0px;
        bottom:1943px;
        z-index:-1;
}
    .kyudoWoman {
        position:fixed;
        width:1440px;
        height:500px;
        top:842px;
        z-index:1;
}
        .opacity {
            opacity: .03;
            filter: alpha(opacity=100);
            zoom: 1;  
            position:absolute;
            top:842px;
}
 
        .opacity:hover {
            opacity: 0.7;
            filter: alpha(opacity=50);
            zoom: 1;
            
}
        .kyudoWoRdToEn {
                 position:relative;
                 width:400px;
                 height:20px;
                 color:midnightblue;
                 font-size:22px;
                 font-family:arial;
                 top:-2490px;
                 left:290px;
                 z-index:2;
    
}
        .kyudoWomanTxt {
                position:relative;
                width:500px;
                height:200px;
                color:midnightblue;
                font-size:18px;
                font-family:arial;
                bottom:2430px;
                left:290px;
                z-index:2;

}
    .kyudoWoman2 {
        position:fixed;
        width:1440px;
        height:700px;
        
        z-index:-1;
}       
        .opacity2 {
        opacity: .3;
        filter: alpha(opacity=100); 
        zoom: 1; 
        position:absolute;
        top:1359px;
}
    .mThompson {
        position:fixed;
        width:1440px;
        height:700px;
        top:463px;
        z-index:1;
}
        .opacity3 {
            opacity: .3;
            filter: alpha(opacity=100); 
            zoom: 1; 
            position:absolute;
            top:1920px;
}
.child1 {
        position:relative;
        width:288px;
        height:820px;
        background-color:midnightblue;
        top:0px;
        left:288px;
}
    .child2 {
        position:relative;
        width:288px;
        height:288px;
        background-color:#FF5F29;
        bottom:288px;
        left:576px;
}
    .child3 {
        position:relative;
        width:288px;
        height:925px;
        background-color:#4Feffe;
        top:-576px;
        left:864px;
        z-index:1;
}

    .child4 {
        position:relative;
        width:288px;
        height:288px;
        background-color:#FF5F29;
        bottom:1500px;
        left:1152px;
}
.dot {
    position:relative;
    height: 220px;
    width: 220px;
    background-color:white;
    border-radius: 50%;
    display: inline-block;
    bottom:1784px;
    left:292px;
    border:0px;
    margin:30px;
    padding:0px
    z-index:3;    
}
.ccentrix {
    bottom:1149px;
    left:300;
}

.inner {
                background-color:white;
                width:118px; 
                height:118px; 
                position:relative;
                bottom:1996.9px;
                left:1235.5px;
                border:3px solid #4Feffe;
                border-radius: 50%;
       }
    .inner-1 {
                background-color:white;
                top: 85%;
                width:105px; 
                height:105px; 
                position: relative;
                top:-2113px;
                left:1242.4px;
                border:3px solid #4Feffe;
                border-radius: 50%;
             }
    .inner-2 {
                background-color:white;
                top: 85.8%; 
      
                width:93px; 
                height:93px; 
                position: relative;
                top:-2218px;
                left:1248px;
                border:3px solid #4Feffe;
                border-radius: 50%;
             }
    .inner-3 {
                background-color:white;
                top: 86.6%; 
                width:81px; 
                height:81px; 
                position: absolute;
                top:-2237px;
                left:1262px;
                border:3px solid #4Feffe;
                border-radius: 50%;
}
        

.child6 {
        position:relative; 
        width:244px;
        height:439px;
        font-size:15px;
        font-family:arial;
        background-color:midnightblue;color:white;
        left:80px;
        bottom:2301px;
        z-index:-1;
    
}
.child61 {
        position:relative; 
        width:439px;
        height:80px;
        font-size:24px;
        text-align:right;
        font-family:arial;
        transform: rotate(270deg);
        background-color:midnightblue;color:white;
        left:-180px;
        bottom:2560px;
        z-index:-1;
}
}
.p {
    color:aqua;
}


.opacity2 {
              opacity: .3;
              filter: alpha(opacity=100); 
              zoom: 1; 
              position:absolute;
              top:1320px;
}

.child6 {
        position:relative; 
        width:244px;
        height:439px;
        font-size:15px;
        font-family:arial;
        background-color:midnightblue;color:white;
        left:80px;
        bottom:2301px;
        z-index:-1;
    

