.parent {
    position:static; 
    width:800px;
    height:500px;
    background-color:blue;
}
    .child {
        position:relative;
        width:100px;
        height:500px;
        background-color:yellow;
        top:0px;
        left:250px;
}
        .grandchild {
            position:relative;
            height:100px;
            width:800px;
            background-color:yellow;
            bottom:300px;
}
.caption {
    font-family:Rosarivo,cursive;
}