

.container  {
    
}

.head {
       
}

.czg {
    position: relative;
    width: 65%;
    font-size: 3em;
    font-family: arial, sans-serif;
    color: white;
    top: 90px;
    left:22%;
}

.beauty {
    position: relative;
    font-size: 1.5em;
    font-family: arial, sans-serif;
    color: lightgrey;
    top: -35px;
    left:22%;
}

.viewall {
    position: relative;
    font-size: 1.2em;
    font-family: arial, sans-serif;
    color: lightgrey;
    top: -35px;
    left:76%;
}

.fwdarrow {
    position: relative;
    font-size: 1.2em;
    font-family: arial, sans-serif;
    color: lightgrey;
    top: -57px;
    left:89%;
}


.logo {
    position: relative;
    top: 15px;
    left: 100px;
    width: 135px;
    height: 135px;
    
}

.demonstration {
    position: relative;
    top: 15px;
    left: 100px;
    width: 65%;
    height: 135px;
     
}

.left {
    position: relative;
    left: 0%;
    width: 50%;
    margin: 0 0 0 10%;
    
}

.right {
    position: relative;
    right: 0px;
}

.huntington { 
    position: absolute;
    height: 300px;
    width: 100%;
    top: 00px;
    left: 0;
    z-index: -1;
}

img#con2ur {
    position: relative;
    opacity: .8;
    top: 0;
    left: 0;
    height: 300px;
    width: 100%;
    z-index: 992;
}

img#contouropaq {
    position: absolute;
    opacity: .8;
    top: 0;
    left: 0;
    height: 0px;
    left: 0px;
    z-index: 993;
    
     
    
    
    
    
}

body {
    background-color: lightgoldenrodyellow;
    margin: 0px;
}


.footer {
    background-color: bisque;
    position: absolute;
    bottom: 0;
    width: 100%;
    
   
}